<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property resource="logback.properties" />
    <property name="LOGS_FOLDER" value="${LOGPATH}" />
    <property name="LOGS_TO_COLLECT_FOLDER" value="${LOGPATH}/old" />

    <appender name="log-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/ikb4stream.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_TO_COLLECT_FOLDER}/ikb4stream.%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m %throwable{0}%n</pattern>
        </encoder>
    </appender>

    <appender name="audit-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/ikb4stream-audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_TO_COLLECT_FOLDER}/ikb4stream-audit.%d{yyyyMMdd}.log.gzip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m %throwable{0}%n</pattern>
        </encoder>
    </appender>

    <appender name="troubleshooting-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/ikb4stream-troubleshooting.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOGS_FOLDER}/ikb4stream-troubleshooting.%i.log</fileNamePattern>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m %throwable{0}%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="com.waves_rsp.ikb4stream" additivity="false" level="TRACE">
        <appender-ref ref="audit-file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="WARN">
        <appender-ref ref="log-file" />
        <appender-ref ref="troubleshooting-file" />
    </root>
</configuration>